Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-2-203718286552"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/home/ec2-user/.ssh/authorized_keys":
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: "https://elasticbeanstalk-us-east-2-203718286552.s3.us-east-2.amazonaws.com/configuration/shared/admin_keys"
