option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /public

files:
    "/etc/cron.d/relay":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * webapp . /opt/elasticbeanstalk/deployment/env-vars && /usr/bin/flock -n /var/app/current/cron.lock /usr/bin/python3 /var/app/current/scripts/Python/run.py >> /var/app/current/cron-`date +\%G-\%g`.log 2>&1

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/relay.bak"
