Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-2-203718286552"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/var/app/config/watchmanConfig.ini":
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: "https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-203718286552/configuration/eve-watchman/config.ini"
